body{
    background-color : black;
    color : white;
}

.parent {
    background-color : white;
    color : black;
    height : 700px;

    display : flex;
    justify-content : space-between;
}

.child1 {
    background-color : red;
    width : 700px;
    display : flex;
    justify-content: space-between;
    align-items:center;
}

.child2  {
    background-color : yellow;
    width : 700px;
    display : flex;
    justify-content: space-between;
}

.grid-container {
    display : grid;
    grid-template-columns : repeat(auto-fit, minmax(600px, 1fr)) ;
    gap : 20px
}

.box{
    background-color : blue;

}

/* @media(max-width : 992px){
    .grid-container{
        grid-template-columns : 1fr;
    }
} */